.add-note-container .btn {
  border: 0;
  margin-bottom: 5px;
  background-color: rgb(17, 81, 141);
  color: white;
  padding: 10px;
  text-transform: capitalize;
}

.add-note-container .btn:hover {
  background-color: #144a91;
  cursor: pointer;
  color: white;
}
