form {
  color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  background-color: #0f3d79;
}

input {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
}

.add-folder,
button,
.add-note button {
  width: fit-content;
  cursor: pointer;
  border: 0;
  margin-bottom: 5px;
  background-color: #030f1f;
  color: white;
  padding: 10px;
  text-transform: capitalize;
  margin-top: 5px;
}
.add-folder button {
  background-color: #0b4591;
}

.add-folder button:hover,
.add-note button:hover {
  background-color: #072957;
}
