.notes-container {
  height: 100vh;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.note a {
  color: white;
  font-size: 20px;
  width: 100%;
  margin-bottom: 5px;
}
.note a:hover {
  color: rgb(228, 67, 38);
}

.note button {
  border: 0;
  margin-bottom: 5px;
  background-color: #0f3d79;
  color: white;
  padding: 10px;
  text-transform: capitalize;
}
.note button:hover {
  background-color: rgb(228, 67, 38);
  cursor: pointer;
}

.notes > a {
  background-color: #0f3d79;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.notes a:hover {
  background-color: #0d3364;
}
