ul li:not(:last-child) {
  margin: 5px 10px;
  border: 1px solid black;
  width: 300px;
}

.nav-link {
  color: white;
  display: block;
  padding: 10px;
  background-color: #102541;
}

.nav-link:hover {
  background-color: #030f1f;
}
.nav-link.active {
  background-color: #030f1f;
}
.add-folder-btn {
  text-align: center;
}
.add-folder-btn a {
  background-color: #0f3d79;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
