.main-title {
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

.main-title h2 {
  color: White;
  font-size: 40px;
}
.main-title button {
  border: 0;
  margin-bottom: 5px;
  background-color: #0f3d79;
  color: white;
  padding: 10px;
  text-transform: capitalize;
}

.main-title button:hover {
  background-color: #0d3364;
  cursor: pointer;
}
